# FOLDERS
.vscode/*
data/*
runs/*
**/wandb/*
**/__pycache__/*


# EXTENSIONS
*.pt
*.pickle
*.onnx
*.out
*.ipynb
*.pyc
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
obj/
.deps/
build/
bin/
gen/
local.properties
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
ipch/
*.sdf
*.pdb
*.idb
*.tlog
*.user
*.filters
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*~
*.swp
*.bak
*.backup
.clang_complete
*.depend
_site/

#Except paper_figures folder
!paper_figures/*